@import "../../style/variables";

.container {
  width: 80%;
  margin: $margin 10%;
}

.searchInput {
  margin: $margin;
}

.advancedSearch {
  margin: $margin;

  .radio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;

    &>* {
      width: 250px;
    }
  }
}
