@import "../../style/variables";

.cocktailCard {
  box-shadow: $shadow;
  padding: $margin*2;

  .cocktailImage {
    width: 100%;

    &>img {
      width: 100%;
      object-fit: contain;
      border-radius: 50%;
    }
  }

  .cocktailName {
    text-align: center;
  }
}
